<a href="https://colab.research.google.com/github/lolagomy/GOMY-STUDY-PROJECTS/blob/main/Mary's_first_python_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('My name is lola and I am a student of data science')

My name is lola and I am a student of data science

In [ ]:
Name = 'Lola'
Age = 20


print(Name)
print(Age)

Lola
20

In [ ]:
Name = 'Lola'
Age = 26
Course ='Data Science'

print(f'my name is {Name} and I am {Age} years old and I am studying {Course}')

my name is Lola and I am 26 years old and I am studying Data Science

In [ ]:
Name = input('please enter your name:')
Age = int(input('please enter your age:'))
print(f'my name is {Name} and I am {Age} years old ')

please enter your name:lola
please enter your age:26
my name is lola and I am 26 years old

In [ ]:
print('Welcome to my page, please fill out the necessary information. Thank you.')
Name = input('please enter your name:')
Course =input('please enter your course of study:')
School = input('please enter institution:')
School_fees = float(input('please enter amount for school fees:'))

print(f'My name is {Name} and I study {Course} at {School} and I pay {School_fees} per session')

Welcome to my page, please fill out the necessary information. Thank you.
please enter your name:Lola Mary
please enter your course of study:Civil Engineering
please enter institution:Kwara State University
please enter amount for school fees:198500.00
My name is Lola Mary and I study Civil Engineering at Kwara State University and I pay 198500.0 per session

##Arithmetic Opetrators

* addition +
* subtraction -
* multiplication *
* division /
* modulus %
* exponentiation **
* floor division //

In [ ]:
x = 5
y = 3

In [ ]:
#addition
print(x+y)

8

In [ ]:
#subtraction
result = x - y
print(result)

2

In [ ]:
#multiplication
result = x*y
print(result)

15

In [ ]:
#division
result = x/y
print(result)

1.6666666666666667

In [ ]:
#exponentiation
result = x ** y
print(result)

125

In [ ]:
#solving problems with the inputed arithmetic operators
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#addition
Result = First_value + Second_value
print(Result)

enter a number:11
enter a number:5
16

In [ ]:
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#subtraction
Result = First_value - Second_value
print(Result)

enter a number:11
enter a number:5
6

In [ ]:
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#multiplication
Result = First_value * Second_value
print(Result)

enter a number:11
enter a number:5
55

In [ ]:
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#division
Result = First_value / Second_value
print(Result)

enter a number:36
enter a number:6
6.0

In [ ]:
round(20 / 6, 5)

3.33333

In [ ]:
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#modulus
Result = First_value % Second_value
print(Result)

enter a number:67
enter a number:5
2

In [ ]:
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#exponentiation
Result = First_value ** Second_value
print(Result)

enter a number:5
enter a number:8
390625

In [ ]:
First_value = int(input('enter a number:'))
Second_value = int(input('enter a number:'))
#floor_division
Result = First_value // Second_value
print(Result)

enter a number:40
enter a number:3
13

In [ ]:
#Creating a fill out form for players from Seamoriow football club
print('Welcome to SeamoriowFC,please fill out the necessary information. Thank you.')
Footballer_Name = input('please enter your first and last name:')
Current_year = int(input('please input current year:'))
Birth_year = int(input('please enter your year of birth:'))
Age = Current_year - Birth_year

print(f'My name is {Footballer_Name},I play for SeamoriowFC and I am {Age} years old')

Welcome to SeamoriowFC,please fill out the necessary information. Thank you.
please enter your first and last name:Israel Akindele
please input current year:2024
please enter your year of birth:2002
My name is Israel Akindele,I play for SeamoriowFC and I am 22 years old

###COMPARISM OPERATORS

In [ ]:
a = 5
b = 7
#Equals to
a == b

False

In [ ]:
a != b

True

In [ ]:
a > b

False

In [ ]:
a < b

True

###LOGICAL OPERATORS

In [ ]:
x = 3
x < 5 and x < 10

True

In [ ]:
x < 5 | x > 4

True

In [ ]:
not(x < 5 and x < 10)

False

In [ ]:
x = 2
y = 2.1
z = 'eat'

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
a = float(x)
print(type(a))

<class 'float'>

In [ ]:
b = int(y)
print(type(b))

<class 'int'>

###STRING MANIPULATION

In [ ]:
print('Hello' + ' ' + 'world')

Hello world

In [ ]:
 First_Name = input('please input first name:')
 Middle_Name = input('please input middle name:')
 Last_Name = input('please input last name:')

 Full_Name = First_Name +' ' + Middle_Name +' ' + Last_Name
 print(f'Hello,my name is {Full_Name}')

please input first name:Adekugbe
please input middle name:Oluwatosin
please input last name:Mary
Hello,my name is Adekugbe Oluwatosin Mary

###STRING SLICING AND INDEXING

In [ ]:
sentence = 'I am a girl and I love the color black'
sentence[5]

'a'

In [ ]:
# get the letters that are in position 10, 15, 11,7 and 9
sentence[10]

'l'

In [ ]:
sentence[15]

' '

In [ ]:
sentence[11]

' '

In [ ]:
sentence[7]

'g'

In [ ]:
sentence[9]

'r'